body {background-image:url(contact2.jpg);
         background-size: 100% 110%;
		 background-repeat: no-repeat;
		 background-size:cover;}

.address2 {
		 font-size:40px;
		 position:absolute; 
		 top:160px;
		 left:400px;
   		 font-family:black chancery;}
		 
.E {   position:absolute; 
		 top:40px;
		 left:200px;

          }
.address {position:absolute;
     top:100;
	 left:570;
	 color:purple;
	 text-decoration:underline;
	 font-weight:bold;
	 font-size:50px;
	  font-family:black chancery;}
.bengal {position:absolute;
     top:150px;
	 left:190px;}
.contact2 {color:purple;
     font-size:50px;
     position:absolute;
     top:400px;
	 left:590px; 
	 text-decoration:underline;
	 font-weight:bold;
	 font-family:black chancery;}
h2 { 
	 position:absolute;
     top:450px;
	 left:500px;
 font-size:40px;	 }
	.details {position:absolute;
     top:550px;
	 left:420px;
	 }
	 .contact {color:blue;}